@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

html{
  min-height: 100%;
  display: flex;
}

body{
  max-width: 100%;
  display: flex;
  flex: 1;
}

#app{
  max-width: 100%;
  flex: 1;
}
